.container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #364150;
    /*direction: rtl;*/
    height: 100%;
}

.login-container {
    background-color: #fff!important;
    -webkit-border-top-left-radius: 7px!important;
    -moz-border-top-left-radius: 7px!important;
    -ms-border-top-left-radius: 7px!important;
    -o-border-top-left-radius: 7px!important;
    border-top-left-radius: 7px!important;

    -webkit-border-top-right-radius: 7px!important;
    -moz-border-top-right-radius: 7px!important;
    -ms-border-top-right-radius: 7px!important;
    -o-border-top-right-radius: 7px!important;
    border-top-right-radius: 7px!important;
    /*margin: 40px auto 10px!important;*/
    padding: 10px 30px 30px!important;
    overflow: hidden!important;
    position: relative!important;
}

.form-title {
    color: #32c5d2 !important;
    text-align: center !important;
    font-size: 28px !important;
    font-weight: 300 !important;
    margin-bottom: 25px !important;
}


.form-control {
    background-color: #dde3ec !important;
    height: 43px !important;
    color: #8290a3 !important;
    border: 1px solid #dde3ec !important;
    outline: 0 !important;
    box-shadow: none !important;
    width: 100% !important;
    height: 46px !important;
    padding: 6px 12px !important;
}

.logo {
    padding: 15px !important;
    text-align: center !important;
}

.logo > img {
    max-width: 100% !important;
}

.p-message-error {
    width: 100% !important;
    padding: 8px 12px !important;
}

.p-message-icon {
    display: none;
}

.bottom-layout {
    background-color: #6c7a8d !important;

    text-align: center;
    padding: 16px;
    font-size: 16px;
    color: #c3cedd;

    -webkit-border-bottom-left-radius: 7px!important;
    -moz-border-bottom-left-radius: 7px!important;
    -ms-border-bottom-left-radius: 7px!important;
    -o-border-bottom-left-radius: 7px!important;
    border-bottom-left-radius: 7px!important;
    -webkit-border-bottom-right-radius: 7px!important;
    -moz-border-bottom-right-radius: 7px!important;
    -ms-border-bottom-right-radius: 7px!important;
    -o-border-bottom-right-radius: 7px!important;
    border-bottom-right-radius: 7px!important;
}

.bottom-layout a {
    color: #c3cedd;
}
.bottom-layout a:hover{
    color: #c3cedd;
    text-decoration: underline;
}
.powered {
    font-size: 12px;
    margin-top: 6px;
    color: #7a8ca5 !important;
}
.powered a {
    color: #7a8ca5 !important;
}

.login-btn {
    text-align: center;
}